name: 'Build push back image '
on:
  push:
    branches:
      - main

jobs:
  build-back-image:
    runs-on: ubuntu-latest
    steps:
    - name: Use Build and Push Docker Image action
      uses: SIT-LightCode/LC-Deployment/actions/build-push-back@main
      with:
        image: "back-end"
        tags: "automated"
        type: "dev"
        ghcr_pat: ${{ secrets.GHCR_PAT }}
  deploy-dev:
    runs-on: self-hosted
    needs: [ build-back-image]
    steps:
    - name: Deploy on develop server
      uses: SIT-LightCode/LC-Deployment/actions/auto-deployment-dev@main
      with:
        DEV_PWD: ${{ secrets.DEV_PWD }}
        DEV_ADMIN: ${{ secrets.DEV_ADMIN }}
        DEV_HOSTNAME: ${{ secrets.DEV_HOSTNAME }}
        TUS_GH_USER: ${{ secrets.TUS_GH_USER }}
        GHCR_PAT: ${{ secrets.GHCR_PAT }}
        MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_PASSWD }}
        MYSQL_DATABASE: ${{secrets.MYSQL_DATABASE}}
        MYSQL_USER: ${{secrets.MYSQL_USER}}
        MYSQL_PASSWORD: ${{secrets.MYSQL_PASSWORD}}
        RESTART: no
